<html>
<head>
  <title>Omnicalc Home</title>
</head>
<body>
  <h1>Welcome to Omnicalc!</h1>
  <p>Choose a calculation to get started:</p>
  <ul>
    <li><a href="/square/new">Square a Number</a></li>
    <li><a href="/square_root/new">Calculate a Square Root</a></li>
    <li><a href="/payment/new">Monthly Loan Payment</a></li>
    <li><a href="/random/new">Generate a Random Number</a></li>
  </ul>
</body>
</html>
