<html>
<head>
  <title>Square a Number</title>
</head>
<body>
  <h1>Square Calculator</h1>
  <form action="/square/results" method="get">
    <label for="user_number">Enter a number:</label>
    <input type="text" id="user_number" name="user_number" required>
    <button type="submit">Calculate square root!</button>
  </form>
</body>
</html>
