<html>
<head>
  <title>Random Number Generator</title>
</head>
<body>
  <h1>Random Number Generator</h1>
  <form action="/random/results" method="get">
    <div>
      <label for="min_input">Minimum</label>
      <input id="min_input" type="text" name="min" placeholder="E.g. 1" required>
    </div>
    <br>
    <div>
      <label for="max_input">Maximum</label>
      <input id="max_input" type="text" name="max" placeholder="E.g. 10" required>
    </div>
    <br>
    <button type="submit">Pick random number</button>
  </form>
</body>
</html>
